@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body{
    margin:0;
}
.container{
    margin:50px;
}

.col6{
    display: inline-block;
    width:50%;
}
.col5{
    display: inline-block;
    width:40%;
}

.green{
    color:#73A942;
}

.green-mode{
    height: 30px;
    border: none;
    color:#999999;
    font-weight: 700;
    font-size: 20px;
    padding: 3px 9px;
    border-radius: 5px;
    background-color: white;
    font-family: 'Noto Sans', sans-serif;
    &:hover{
        color:white;
        background-color: #73A942;
    }
}

.navItems{
    padding:0 20px;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.mt-1{
    margin-top: 1rem;
}

.mt-2{
    margin-top: 2rem;
}

.text-center{
    text-align: center;
}

.centered-items{
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
}


.pl5{
    padding-left: 5rem;
}

.mr5{
    margin-right: 5rem;
}

.ml5{
    margin-left: 5rem;
}

.mt2{
    margin-top: 2rem;
}
.mt5{
    margin-top: 5rem;
}
.mt4{
    margin-top: 4rem;
}
.mt3{
    margin-top: 3rem;
}