@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.logoTitle{
    display: flex;
    float: left;
    font-size: 36px;
    margin: 0;
    color:#73A942;
    font-family: 'Fredoka One', cursive;
    letter-spacing: 3px;
    .cloud{
        color:#303031;
    }
}

.navLinks{
    display: flex;
    float: right;
    list-style-type: none;
    margin: 10px;
}
.navItems{
    text-align: right!important;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding:0 20px;
    color:#999999;
    &:hover{
        color:#73A942;
    }
}
