@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
.heading2{
  color:#303031;
  font-family: 'Noto Sans', sans-serif;
  font-size: 36px;
  font-weight: bold;
}

.paragraf{
  font-family: 'Noto Sans', sans-serif;
  color:#303031;
  font-size: 20px;
  text-align: justify;
  width: 80%;
  font-weight: 600;
}

.button{
  color: white;
  background-color: #73A942;
  border:none;
  border-radius: 8px;
  padding:10px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}
.rocket{
  width:30px;
  height:20px;
  position: relative;
  padding-top:9px;
  padding-left:9px;
}

.imageWrap{
  float: right;
  width:60%;
  margin: auto;
}