@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
.title{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    color:303031;
    margin-top: 0;
}

.paragraf{
    font-size: 20px;
    width: 80%;
    font-weight: 400;
    font-family: 'Noto Sans', sans-serif;
    color:303031;
    text-align: justify;
}

.imageWrap{
    margin-top:25px;
    width:50%;
}

.footer{
    margin:0px;
    width:100%;
    height:100vh;
}