@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
.title{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Noto Sans',sans-serif;
}

.circle{
    display: flex;
    background-color:rgba($color: #888888, $alpha: 0.1);
    width: 200px;
    height: 200px;
    border-radius: 100%;
    .imageWrap{
        svg{
            width: 70px;
            margin-left: 60px;
            margin-top: 40px;
            opacity: 100%!important;
        }
    }
    .name{
        font-family: "Noto Sans", sans-serif;
        margin-top: 127px;
        margin-left: 42px;
        font-weight: bold;
        position: absolute;
    }
    .inovasi{
        font-family: "Noto Sans", sans-serif;
        margin-top: 127px;
        margin-left: 70px;
        font-weight: bold;
        position: absolute;
    }
    .global{
        font-family: "Noto Sans", sans-serif;
        margin-top: 127px;
        margin-left: 44px;
        font-weight: bold;
        position: absolute;
    }
    .keamanan{
        font-family: "Noto Sans", sans-serif;
        margin-top: 127px;
        margin-left: 30px;
        font-weight: bold;
        position: absolute;
    }

    .tingkatkan{
        font-family: "Noto Sans", sans-serif;
        margin-top: 115px;
        margin-left: 45px;
        font-weight: bold;
        position: absolute;
    }
    .produktifitas{
        font-family: "Noto Sans", sans-serif;
        margin-top: 135px;
        margin-left: 50px;
        font-weight: bold;
        position: absolute;
    }
}
